$background-color: #000000;
$primary-color: #0f0f0f;
$heading-font: 'Courier New', monospace;
$paragraph-font: 'Courier New', monospace;
$padding-normal: 1rem;
$btn-color: lightblue;
$footer-color: blue;
$font-color: #333;



/*mixins*/

@mixin btn($bg-color:$btn-color, $text-color:#fff){
    background-color: $bg-color;
    color: $text-color;
    padding: 0.8em;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    width: 70vw;
    display: block;
    margin: 0 auto 1.5em auto;
}